
.dropdown{
  /* display: none; */
  width:300px;
  height:fit-content;
  /* position:absolute;
  top:100%; */
  /* padding: 4px; */
  background: #eee;
  border-radius: 4px;
}
.dropdown .dropdown-content{
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.dropdown .dropdown-content:hover{
  background: darkgray;
}