
.dropdowndiv{
    border: 1px solid #ececec;
    background: rgba(102,166,255,0.16);
    /* padding: 10px 20px; */
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 0;
    margin: 0;
    width:360px;
       border-radius: 5px;

}
.dropdowndiv ul li{
    list-style-type:none;
}
.dropdownlist{
    /* display: none; */
    list-style: none;
    padding: 15px 5px;
    margin: 0;
    position: absolute;
    background: #fff;
    border: 1px solid #ececec;  
    left: -1px;
    top: 20px;
    width: 100%;
   z-index: 2;
   border-radius: 5px;
}
/* .show{
  display:inline-block;
}

.hide{
  display:none;
} */