.service-card{
    padding:0 20px 0 0;
    border-right:1px solid #f0f0f0;
}
.service-card .service-icon{
    margin-right:20px;
    margin-bottom:20px;
}
.service-card .service-title{
    font-weight:bold;
    color:"#333";

}
.service-card:hover{ 
    color:#e59617;
}
/* .service-card .service-title:hover .s-icon{
    transform:translateY(0)
} */