.get-in-touch{
    background:#272a38;
    width:100%;
    display: flex;
    justify-content: center;
}
.get-in-touch .touch-icon{
    width:45px;
    height:45px;
    padding:15px;
    border-right: 1px solid #40b866;
    border-bottom: 1px solid #40b866;
    border-top:1px solid transparent;
    border-left: 1px solid transparent;
    transition:all 0.3s ease-in-out ;
}
.get-in-touch .touch-icon:hover{
    border-top:1px solid #40b866;
    border-left: 1px solid #40b866;
}
.get-in-touch .touch-icon:hover .get-icon{
    fill:#40b866;
}