.menubar{
    width:100%;
    /* height:100px; */
    display: flex;
    justify-content: center;
    /* max-width: 1170px; */
    background:#f3f3f3;
}
.menubar span{ 
    padding:13px 15px;
    color: #333;
    transition: all 0.3s ease-in-out;
}
.menubar span:hover{
    background:#40b866;
    
}
.menubar span:hover a{
    color:#fff;
}