.navbar{
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;
    /* max-width: 1170px; */
    background:#102a39;
}
.navbar .navbar-right{
    position: relative;
    width:60%;
}
.navbar .navbar-right input{
    padding:10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    border: none;
    width:250px;
}
.navbar .navbar-right .city-dropdown{
    cursor: pointer;
    width:220px;
}
.navbar .navbar-right .search-button{
    padding:10px;
    background:#40b866;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.navbar .navbar-right .search-button span{
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.navbar .logout-container{
    position: relative;
}
.navbar .logout{
    display: none;
    background:#40b866;
    position: absolute;
    top:100%;
    /* width:100%; */
    border-radius: 2px;
    padding:4px 6px;
    cursor: pointer;


}
.navbar .logout:hover{
    background: grey;
}
.navbar .logout span{
    font-size: 12px;
    width:100%;
    color:#fff;
}
@media only screen and (max-width: 768px) {
   .navbar .logo img{
        width:50px;
    }
} 
@media (min-width: 768px) {
    
}