.special-offer{
    width:100%;
    display: flex;
    justify-content: center;
    
}
.special-offer .container{
    box-shadow: #79797959 0px 5px 15px 0px,inset #79797959 7px -2px 20px 0px;;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 19px;
}
.special-offer .img-holder{
    /* background: url(http://staging.classibazaar.com.au/assets/uploads/deals/2962c3d7d9aff85240bd69e45b1b655b.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 400px;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.special-offer .offer-tag{
    position: absolute;
    top:2px;
    left:2px;
    width:40px;
    transform: rotate(-90deg);
}
.special-offer .offer-details{
    width:40%;
    padding:30px;
}
.special-offer .price-point{
    padding-right:10px;
    border-right:2px silver solid;
}
@media only screen and (max-width: 768px) {
    .special-offer{
        padding:10px;
    }
   .special-offer div{
       flex-direction: column;
   }
   .special-offer .img-holder{
       width:100%;
   }
   .special-offer .offer-details{
       width:100%;
       padding:10px;
      
   }
   .special-offer .offer-details div{
       align-items:flex-start;
   }
 } 
 @media (min-width: 768px) {
     
 }